<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.submission.yusuf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Submission">
<!--        <activity-->
<!--            android:name=".home.bottomTest"-->
<!--            android:label="@string/title_activity_bottom_test"></activity>-->
        <activity android:name=".home.HomeActivity" />
        <activity
            android:name=".detail.DetailFilmActivity"
            android:label="@string/title_activity_detail_film" />
        <activity android:name=".splashScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".detail.DetailTvShowActivity"/>
    </application>

</manifest>